@use "sass:list";
@use "sass:map";
@use "@styles/colors";
@use "@styles/vars";

$containerMaxWidths: (
  extra-small: 400,
  small: 400,
  medium: 600,
  large: 900,
  extra-large: 1200,
  huge: 1800
);

$containerSpacingSizes: (
  none: 0,
  small: 15,
  medium: 30,
  large: 45,
  extra-large: 60
);

$containerBackgroundVariants: (
  default: (
    background: transparent,
    text: inherit,
    border: colors.$contentBackgroundColorDefaultBorder
  ),
  extra-light: (
    background: colors.$contentBackgroundColorLight,
    text: colors.$contentBackgroundColorLightContrast,
    border: colors.$contentBackgroundColorLightBorder
  ),
  light: (
    background: colors.$contentBackgroundColor,
    text: colors.$contentBackgroundColorContrast,
    border: colors.$contentBackgroundColorBorder
  )
);

.container {
  width: 100%;
  margin: 0 auto;

  &__background {
    display: block;
    width: 100%;
  }

  @include screens.adaptiveFor($containerMaxWidths) using ($maxWidth) {
    max-width: calc(#{$maxWidth}px - #{vars.$containerHorizontalPadding * 2});
  }

  @each $spacingName, $spacingValue in $containerSpacingSizes {
    &.#{$spacingName} {
      padding-block: #{$spacingValue}px;
    }
  }

  @each $backgroundName, $backgroundValue in $containerBackgroundVariants {
    &__background.#{$backgroundName} {
      background-color: #{map.get($backgroundValue, background)};
      color: #{map.get($backgroundValue, text)};

      & + & > .container {
        border-top: 1px solid #{map.get($backgroundValue, border)};
      }
    }
  }
}
