@use "sass:list";

$containerMaxWidths: (
  extra-small: 400,
  small: 400,
  medium: 600,
  large: 900,
  extra-large: 1200,
  huge: 1800
);

$containerSpacingSizes: (
  none: 0,
  small: 15,
  medium: 30,
  large: 45,
  extra-large: 60
);

$containerHorizontalPadding: 15;

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: #{$containerHorizontalPadding}px;

  @include screens.adaptiveFor($containerMaxWidths) using ($maxWidth) {
    max-width: #{$maxWidth}px;
  }

  @each $spacingName, $spacingValue in $containerSpacingSizes {
    &.#{$spacingName} {
      padding-block: #{$spacingValue}px;
    }
  }
}
