# Docker configuration
DOCKER_NETWORK=test_task_my_card_network

# Postgres database configuration
POSTGRES_DB=test_task_my_card_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=test_password
POSTGRES_PORT=5432
POSTGRES_INTERNAL_PORT=5432

# Adminer
ADMINER_PORT=8080
ADMINER_INTERNAL_PORT=8080

# RabbitMQ configuration
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=test_password
RABBITMQ_PORT=5672
RABBITMQ_INTERNAL_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_MANAGEMENT_INTERNAL_PORT=15672
RABBITMQ_VHOST=/
RABBITMQ_STREAM_PORT=5552
RABBITMQ_STREAM_INTERNAL_PORT=5552

# Backend configuration
BACKEND_INTERNAL_PORT=3000
BACKEND_PROXY_PORT=8000
BACKEND_PORT=3001

# Admin Frontend configuration
FRONTEND_PORT=5173
FRONTEND_INTERNAL_PORT=5173

# Users configuration
USERS_ADMIN_DEFAULT_PASSWORD=test_password