@use "@styles/colors";

$headerHeight: 60px;

.header {
  height: $headerHeight;
  min-height: $headerHeight;
  max-height: $headerHeight;
  flex-basis: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: colors.$primaryColor;
  color: colors.$primaryColorContrast;
}
