$contentBackgroundColorDefault: #fdfdfd;
$contentBackgroundColorDefaultContrast: #333;
$contentBackgroundColorDefaultBorder: #dfdfdf;

$contentBackgroundColor: #f0f0f0;
$contentBackgroundColorContrast: #333;
$contentBackgroundColorBorder: #cbcbcb;

$contentBackgroundColorLight: #e0e0e0;
$contentBackgroundColorLightContrast: #3a3a3a;
$contentBackgroundColorLightBorder: #b6b6b6;

$primaryColor: #3498db;
$primaryColorContrast: white;
