$contentBackgroundColorLight: #fdfdfd;
$contentBackgroundColorLightContrast: #333;
$contentBackgroundColorLightBorder: #dfdfdf;

$contentBackgroundColorDefault: #f0f0f0;
$contentBackgroundColorDefaultContrast: #333;
$contentBackgroundColorDefaultBorder: #cbcbcb;

$contentBackgroundColorDark: #e0e0e0;
$contentBackgroundColorDarkContrast: #3a3a3a;
$contentBackgroundColorDarkBorder: #b6b6b6;

$primaryColor: #3498db;
$primaryColorContrast: white;
